@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--grad1: rgb(108, 58, 247);
	--grad2: rgb(73, 231, 245);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Consolas, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
