@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Consolas';
	src: url('/fonts/Consolas.ttf') format('truetype');
}

:root {
	--grad1: #4776E6;
	--grad2: #8E54E9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Consolas', Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	@apply overflow-y-scroll snap-mandatory snap-y;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
